@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Open Sans', sans-serif;
}


html {
	scroll-behavior: smooth;
}

span {
	font-family: inherit;
	font-weight: inherit;
}

.bgGrid {
	background-size: 40px 40px;
	/* background-image: linear-gradient(to right, grey 1px, transparent 1px),
		linear-gradient(to bottom, grey 1px, transparent 1px); */
	background-color: #FFFECB;
}

button,
.button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	@apply bg-primo;
	cursor: pointer;
	transition: border-color 0.2s;
}

button:hover {
	@apply border-emColorAlt;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.specialBtn {
	@apply border-emColor;
}

.specialBtnDark {
	@apply bg-emColor;
	@apply text-primo;
}

.specialBtn:hover {
	@apply border-emColorAlt;
}

.dropShadow {
	filter: drop-shadow(-10.8923px 14.523px 35.0973px rgba(29, 140, 242, 0.2));
}
